<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Task Manager Pro</string>
	<key>CFBundleExecutable</key>
	<string>TaskManagerPro</string>
	<key>CFBundleIconFile</key>
	<string>TaskManagerPro</string>
	<key>CFBundleIdentifier</key>
	<string>com.agraja.pulsetaskmanager</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>TaskManagerPro</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.04</string>
	<key>CFBundleVersion</key>
	<string>104</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>LSMinimumSystemVersion</key>
	<string>13.0</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>Task Manager Pro can inspect login items when you choose the Startup Apps tab.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2026 Agraja</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
